<section class="container" id="container">
    <header>Editar conductor</header>
    <form action="/editDriver/{{driver.idDriver}}/{{driver.firmsId}}" id="forms" method="post">
        <div class="form first">
            <div class="details addvehicle">
                <span class="title-addvehicle">Datos del conductor</span>
                <div class="fields">
                    <div class="input-field">
                        <label>Cédula</label>
                        <input type="text" name="idDriver" id="idDriver" value="{{driver.idDriver}}" placeholder=""
                            autofocus required>
                    </div>
                    <div class="input-field">
                        <label>Nombres completos </label>
                        <input class="form-control text-uppercase" type="text" name="name" id="name"
                            value="{{driver.name}}" required>

                    </div>
                    <div class="input-field">
                        <label>Celular </label>
                        <input type="text" name="cellPhoneNumber" id="cellPhoneNumber"
                            value="{{driver.cellPhoneNumber}}" required>
                    </div>
                    <div class="input-field">
                        <label>N° licencia</label>
                        <input type="number" name="licenseNumber" id="licenseNumber" value="{{driver.licenseNumber}}"
                            required>
                    </div>
                    <div class="input-field">
                        <label>Categoria </label>
                        <select id="licenseCategoryId" name="licenseCategoryId" class="opcion" required>
                            <option value="{{driver.idLicenseCategory}}" hidden>{{driver.category}}</option>
                            {{#each category}}
                            <option value="{{idLicenseCategory}}">{{category}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="input-field">
                        <label>Fecha de vencimiento</label>
                        <input type="date" name="driversLicenseExpiration" id="driversLicenseExpiration"
                            value="{{driver.driversLicenseExpiration}}" required>
                    </div>
                    <div class="input-field">
                        <button type="button" id="openModalBtn">
                            Realizar firma
                        </button>
                    </div>
                    <div class="input-field">
                        <div class="firma-muestra">
                            <img id="firmaPrevia" name="signature" src="{{driver.signature}}">
                            <input type="hidden" name="signature_cp" value="{{driver.signature}}">
                        </div>
                    </div>
                    <div class="input-field">
                        <div>
                            <button type="submit">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<div id="dibujarFirmaModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Dibujar Firma</h4>
            <button id="closeModalBtn" class="close">&times;</button>
        </div>
        <div class="modal-body">
            <div class="row-modal">
                <canvas id="signature"></canvas>
            </div>
            <div class="row-modal">
                <div class="col-modal">
                    <button id="guardarFirma" class="btn btn-primary mt-3" style="width: 100%;">Guardar</button>
                </div>
                <div class="col-modal">
                    <button id="borrarFirma" class="btn btn-secondary mt-3" style="width: 100%;">Borrar</button>
                </div>
            </div>
        </div>
    </div>
</div>