<section class="container">
    <header>Buscar conductor</header>
    <br>
    <div class="col d-flex justify-content-initial">
        <a href="/addconductor" class="btn btn-info" style="text-decoration: none;">
            Registrar conductor
        </a>
    </div>
    {{#if drivers}}
    <div class="col md-3" style="padding-top: 20px;">
        <table id="example" class="table table-bordered table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Celular</th>
                    <th>Licencia</th>
                    <th>Categoria</th>
                    <th>Vencimiento</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each drivers}}
                <tr>
                    <td>{{idDriver}}</td>
                    <td>{{name}}</td>
                    <td>{{cellPhoneNumber}}</td>
                    <td>{{licenseNumber}}</td>
                    <td>{{category}}</td>
                    <td>{{driversLicenseExpiration}}</td>
                    <td>
                        <div style="display: flex; justify-content: space-evenly;">
                            <a href="/editDriver/{{idDriver}}/{{firmsId}}" class="btn btn-info"><i class="fa-solid fa-file-pen"></i></a>
                            {{!-- <a href="/deleteDriver/{{idDriver}}" class="btn btn-warning"><i class="fa-solid fa-trash"></i></a> --}}
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>

        </table>
    </div>
    {{/if}}
</section>