<section class="container" id="container">
    <header>Editar Vehiculo</header>
    <form action="/edit/{{vehicle.idLicensePlate}}" method="post">
        <div class="form first">
            <div class="details addvehicle">
                <span class="title-addvehicle">Información del vehiculo</span>
                <div class="fields">
                    <div class="input-field">
                        <label>Placa</label>
                        <input type="text" name="idLicensePlate" id="idLicensePlate" placeholder="XXX-XXX"
                            value="{{vehicle.idLicensePlate}}" required>
                    </div>
                    <div class="input-field">
                        <label>Cedula de conductor</label>
                        <input type="text" name="driverId" id="driverId" placeholder="" value="{{vehicle.driverId}}"
                            required>
                    </div>
                    <div class="input-field">
                        <label>Tipo de vehiculo</label>
                        <select id="opcion" name="opcion" class="opcion">
                            <option value="{{vehicle.vehicleType}}" hidden>{{vehicle.vehicleType}}</option>
                            <option value="Sencillo">Sencillo</option>
                            <option value="Doble troque">Doble troque</option>
                            <option value="Tracto camión">Tracto camión</option>
                            <option value="Contingencia">Contingencia</option>
                            <option value="otro">Otro</option>
                        </select>

                        <input type="text" id="vehicleType" name="vehicleType" onblur="hideInput()"
                            oninput="showSelectIfEmpty()" style="display: none;" disabled required>
                    </div>
                    <div class="input-field">
                        <label>V. Licencia de conducción</label>
                        <input type="date" name="driversLicenseExpiration" id="driversLicenseExpiration"
                            value="{{vehicle.driversLicenseExpiration}}" required>
                    </div>
                    <div class="input-field">
                        <label>V. Revisión tecnico mecanica</label>
                        <input type="date" name="technomechanicsReviewExpiry" id="technomechanicsReviewExpiry"
                            value="{{vehicle.technomechanicsReviewExpiry}}" required>
                    </div>
                    <div class="input-field">
                        <label>V. SOAT</label>
                        <input type="date" name="soatExpiration" id="soatExpiration" value="{{vehicle.soatExpiration}}"
                            required>
                    </div>
                    <div class="input-field">
                        <label>V. Linea de vida</label>
                        <input type="date" name="expiryLifeLine" id="expiryLifeLine" value="{{vehicle.expiryLifeLine}}"
                            required>
                    </div>
                    <div class="input-field">
                        <label>V. Poliza de responsabilidad civil</label>
                        <input type="date" name="expiryCivilLiabilityPolicy" id="expiryCivilLiabilityPolicy"
                            value="{{vehicle.expiryCivilLiabilityPolicy}}" required>
                    </div>
                    <div class="input-field">
                        <label>V. Porliza civil de hidrocarburos</label>
                        <input type="date" name="expiryCivilHydrocarbonsPolicy" id="expiryCivilHydrocarbonsPolicy"
                            value="{{vehicle.expiryCivilHydrocarbonsPolicy}}" required>
                    </div>


                </div>
                <div class="nextBtn">
                    <span class="btnText">Siguente</span>
                    <i class="fa-solid fa-angles-right"></i>
                </div>
            </div>
        </div>

        <div class="form second">
            <div class="details addtank">
                <span class="title-addvehicle">Informacion del tanque</span>
                <div class="fields">
                    <div class="input-field">
                        <label>Placa de tráiler</label>
                        <input type="text" name="idTrailerPlate" id="idTrailerPlate" placeholder="XXX-XXX"
                            value="{{vehicle.idTrailerPlate}}" required>
                    </div>
                    <div class="input-field">
                        <label>Tabla de aforo</label>
                        <input type="text" name="capacityTable" id="capacityTable" placeholder="Ingregar tabla de aforo"
                            value="{{vehicle.capacityTable}}" required>
                    </div>
                    <div class="input-field">
                        <label>V. Hidroestática</label>
                        <input type="date" name="hydrostaticExpiration" id="hydrostaticExpiration"
                            value="{{vehicle.hydrostaticExpiration}}" required>
                    </div>
                    <div class="input-field">
                        <label>V. Quinta rueda</label>
                        <input type="date" name="expiryFifthWheel" id="expiryFifthWheel"
                            value="{{vehicle.expiryFifthWheel}}" required>
                    </div>
                    <div class="input-field">
                        <label>V. King pin</label>
                        <input type="date" name="kingPinExpiry" id="kingPinExpiry" value="{{vehicle.kingPinExpiry}}"
                            required>
                    </div>
                    <div class="input-field">

                    </div>
                </div>
                <br><br><br></b><br>
                <div class="buttons">
                    <div class="backBtn">
                        <i class="fa-solid fa-angles-left"></i>
                        <span class="btnText">Atras</span>
                    </div>
                    <button class="nextBtn">
                        <span class="btnText">Editar registro</span>
                        <i class="fa-solid fa-angles-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>


<script>
    function hideSelect() {
        document.getElementById("opcion").style.display = "none";
    }

    function showSelect() {
        document.getElementById("opcion").style.display = "block";
    }

    function hideInput() {
        const vehicleType = document.getElementById("vehicleType");
        const opcion = document.getElementById("opcion");
        if (vehicleType.value === "") {
            vehicleType.style.display = "none";
            vehicleType.disabled = true;
            showSelect();
        }
    }

    document.getElementById("opcion").addEventListener("change", function () {
        const vehicleType = document.getElementById("vehicleType");
        const opcionSeleccionada = this.value;
        if (opcionSeleccionada === "otro") {
            hideSelect();
            vehicleType.style.display = "block";
            vehicleType.disabled = false;
            vehicleType.focus();
        } else {
            vehicleType.style.display = "none";
            vehicleType.disabled = true;
            showSelect();
        }
    });

    /*(() => {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                form.classList.add('was-validated');
            }, false)
        })
    })()*/

    var selectElement = document.getElementById("opcion");
    var options = selectElement.options;
    var selectedValue = "{{vehicle.vehicleType}}";

    for (var i = 1; i < options.length; i++) {
        var option = options[i];
        if (option.value === selectedValue) {
            option.style.display = "none";
        } else {
            option.style.display = "";
        }
    }
</script>